---
layout: layouts/base.njk
title: Portfolio Website (PHP)
---

<main class="information">

    <div class="mainbox">

        <h1 class="pagetitle"> Developer Portfolio (PHP Version) </h1>

        <br>
        <div style="text-align: center;">
            <img src="/webDevelopment/portfolioScreenshot.png" alt="Screenshot of this website during development." style="max-width: 90%; max-height: 450px">
            <h5> The PHP version of this portfolio as of Nov 17/2024 </h5>
        </div>
        <br>

        <p class="paragraphStandard">
            After completing COMP 3451, I got to work cleaning up the messy code
            from that project and turning it into something usable as my portfolio.
            <a href="https://github.com/mseitzdev/MS_Portfolio">
            You can see the current code on my GitHub by clicking here.
            </a>
            <br><br>
            I began by taking the
            <a href="/webDevelopment/CSS_Store/">CSS Store</a>
            and removing any unnecessary PHP and SQL, before putting
            some time into experimenting with the CSS and removing as much unnecessary
            code as possible. After getting things cleaned up, I got to work testing
            across different browsers, operating systems, and devices. During this
            process, I learned some tricks to make sure websites work on different
            platforms - use images rather than text for UI elements, keep animations
            and interactions simple, don't rely too much on CSS for image manipulation,
            etc. I began to feel much more comfortable with UI design throughout this
            process.
            <br><br>
            Then, to add some flair to this website, I used
            <a href="https://vincentgarreau.com/particles.js/">Particles.js</a>
            to create the background, customizing it to fit the color scheme. After
            that, I started diving through the CSS of the site to get the color scheme
            and element transparency right, before using image editors to get the logo,
            menu button, and other elements to a place I felt looked nice across
            devices and browsers.
            <br><br>
            Once I was satisfied, I began filling in the rest of the web pages with
            content, as well as adding things like page titles, icon, social media
            and contact links, and more.
            <br><br>
            This version served me well, but as I learned more I decided to
            <a href="/webDevelopment/mseitzDotDevEleventy/">rebuild it using Eleventy</a>,
            a modern static site generator, to replace the PHP dependencies and
            improve the development workflow.
            <br><br>
        </p>

        <h1>
            <a href="https://github.com/mseitzdev/MS_Portfolio">
                See the code on my Github!
            </a>
        </h1>

    </div>

</main>
