---
layout: layouts/base.njk
title: Research
---

<main class="information">

    <div class="mainbox">

        <h1 class="pagetitle">Research</h1>

        <p class="paragraphStandard">

            I've been doing research into neuroscience, exploring both the
            theoretical foundations and practical applications. Here you can
            find my work in this area.
            <br><br>
            <a href="/research/neuralNetworks/">Neural Networks & the Human Brain</a>
            <br><br>
            <a href="/research/bci/">Brain Computer Interface Research</a>

        </p>

    </div>

</main>
