---
layout: layouts/base.njk
title: Neural Networks & the Human Brain
---

<main class="information">

    <div class="mainbox">

        <h1 class="pagetitle">Neural Networks & the Human Brain</h1>

        <p class="paragraphStandard">
            Content coming soon.
        </p>

    </div>

</main>
