<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* This is the general formatting for the sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;
  font-size: 25px;

  /*
  This sets the background color and opacity
  without inheritance issues.
  */
  background-color: rgba(1,1,1,0.95);
}

/*General formatting for links and dropdown buttons*/
.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: goldenrod;
  display: block;
  transition: 0.25s;
  text-align: center;
  font-weight: bold;
}

/* Style the  dropdown button */
 .dropdown-btn {
  border: none;
  background: none;
  width:100%;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 25px;
}

/* link and dropdown button hover behavior */
.sidenav a:hover, .dropdown-btn:hover{
  transform: scale(1.2); /* This zooms in */
  color: lightgoldenrodyellow;
  cursor: pointer;
}

/* Dropdown container*/
.dropdown-container {
  display: none;
  position: relative;
}

/* Giving the dropdown elements different styling*/
.dropdown-element{
  font-size: 20px;
  color: #EAD079 !important;
}
.dropdown-element:hover{
  color: lightgoldenrodyellow !important;
}

/* close button formatting */
.closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

/* menuclick when not hovered on */
.menuClick{
  /*Formatting*/
  color: goldenrod;
  float: left;
  transform: translateY(-7px);
  font-size: 80px;
  line-height: 80px;
  /*Changing cursor*/
  cursor: pointer;
}

/*Menu hover behavior*/
.menuClick:hover{
  transition: 0.25s;
  transform: scale(1.2) translateY(-7px); /* This zooms in */
  color: lightgoldenrodyellow;
  cursor: pointer;
}

/* more general formatting */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>

<div id="mySidenav" class="sidenav">

  <!-- This is the close button -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- This is the home button -->
  <a href="/">Home</a>

  <!-- Research dropdown -->
  <button class="dropdown-btn">Research ▼</button>
  <div class="dropdown-container">
      <a href="/research/" class="dropdown-element">Overview</a>
      <a href="/research/neuralNetworks/" class="dropdown-element">Neural Networks & the Human Brain</a>
      <a href="/research/bci/" class="dropdown-element">Brain Computer Interface Research</a>
  </div>

  <!-- Website Development Dropdown -->
  <button class="dropdown-btn">Web Development ▼</button>
  <div class="dropdown-container">
      <a href="/webDevelopment/" class="dropdown-element">Overview</a>
      <a href="/webDevelopment/CSS_Store/" class="dropdown-element">CompSci Student Store</a>
      <a href="/webDevelopment/mseitzDotDev/" class="dropdown-element">Portfolio (PHP)</a>
      <a href="/webDevelopment/mseitzDotDevEleventy/" class="dropdown-element">Portfolio (Eleventy)</a>
      <a href="/webDevelopment/libraryProject/" class="dropdown-element">Library Project</a>
  </div>

  <!-- Android apps dropdown -->
  <button class="dropdown-btn">Android Apps ▼</button>
  <div class="dropdown-container">
      <a href="/androidApps/" class="dropdown-element">Overview</a>
      <a href="/androidApps/busSimulator/" class="dropdown-element">Transit System Simulator</a>
      <a href="/androidApps/androidCalc/" class="dropdown-element">Scientific Calculator</a>
  </div>

  <!-- About me page link -->
  <a href="/about/">About Me</a>

  <!-- Spacing at the bottom -->
  <br><br>

</div>

<!-- Menu symbol -->
<span onclick="openNav()" class="menuClick">
  <img src='/assets/images/menuSymbol.png' style="max-height: 40px; padding-left: 5px;">
</span>

<script>
function openNav() {
  //alter this width to change the width of the sidenav when open
  document.getElementById("mySidenav").style.width = "400px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

/*
Loop through all dropdown buttons to toggle between hiding and showing its dropdown content

This allows  multiple dropdowns without any conflict
*/
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
