<!--
    Social Media / Contact Links
    Mitchell Seitz, 2024.
    See /res/main.css for formatting
-->
<a href="{{ site.github }}">
    <img src="/assets/images/GitHubLogo.png" alt="My GitHub" class="socialLinkPic">
</a>
<a href="{{ site.linkedin }}">
    <img src="/assets/images/LinkedInLogo.png" alt="My LinkedIn" class="socialLinkPic">
</a>
<a href="mailto:{{ site.email }}">
    <img src="/assets/images/EmailSymbol.png" alt="Email Me" class="socialLinkPic">
</a>
